.myBtn {
  padding: 5px 15px;
  color: #fff;;
  border: 1px solid #fff;;
  border-radius: 11px;
  font-size: 14px;
  background: transparent;
  cursor: pointer;
  transition: opacity 0.6s;
}

.myBtn:hover {
  opacity: 0.6;
}
